html, body {
    background-color:#ccc;
    height: 100%;
    margin: 0;
}
.wrapper {
    position: relative;
    height: 100vh;
}
header {
    width:1024px;
    text-align:center;
    color:orangered;
}

header div:nth-child(1) {
    float: left;
}

header div img {
    margin-top:10px;
}

header div:nth-child(2) {
    float:left;
    width: calc(1024px - 116px);
}

nav {
    background-color: orangered;
    width: 1024px;
    padding:5px;
    color: navy;
    font-weight: bold;
    font-size:20px;
    text-align:center;
    clear: both;
}

nav a:visited, nav a:link, nav a:hover, nav a:active  {
    color:#fff;
    text-decoration: none;
    font-size:16px;
}

nav a:hover {
    text-decoration: underline;
}
.container {
    width:1024px;
}
.container aside {
    width: 200px;
    float:left;
    padding-bottom: 35px;
    text-align: center;
}
.container section {
    width: 600px;
    float: left;
}

footer {
    clear: both;
    background-color: orangered;
    text-align:center;
    width:1024px;
    font-weight: bold;
    color:#fff;
    padding: 5px;
    position:absolute;
    bottom:0;
    height: 50px;
}

.tip {
    margin: 0 auto;
    height:50px;
    border:1px solid #fff;
    background-color: navy;
    color: #fff;
    font-weight: bold;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}